.button1 {
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgb(70, 70, 70);
    font-weight: 600;
    box-shadow: 0 0 4px 1px #7e7e7e;
    background: linear-gradient(90deg, rgba(187, 187, 187, 0.8547794117647058) 0%,
    rgba(255, 175, 104, 0.44861694677871145) 100%);
}

.active,
.button1:hover {
    background-color: #f3d6a2;
}

.button2 {
    width: 100%;
    border: none;
    outline: none;
    padding: 7px;
    margin: 5px 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 0 4px 1px #7e7e7e;
    background-color: #fff;
}

.button2:active,
.button2:hover {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(104, 254, 255, 0.19931722689075626) 100%);
}

.title {
    width: 100%;
    border: none;
    outline: none;
    padding: 7px;
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 0 4px 1px #7e7e7e;
    background-color: #fff;
}

